<template>
  <div class="home">
    <button @click="fetchResult">BLABLA</button>

  </div>
</template>

<script>
// @ is an alias to /src
import ReferencesService from '@/apiService';

export default {
  name: 'Home',
  methods: {
    async fetchResult() {
      const result = await ReferencesService.all();

      console.log('RESULT');
      console.log(result);
      this.result = result;
    },
  },
};
</script>
